@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');


//root variables
$body-color : #15133C;
$footer-color : #73777B;
$heading-color : #ffffff;
$text-color : #f1eee9c4;


//body style
body{
    margin: 0;
    background-color: $body-color;
    
}


//global styles
a{
    text-decoration: none;
    color: $text-color;
    padding-top: 20px;
}
h1{
    font-size: 20px;
    color: $heading-color;
}


//footer section start
.footer-section{
    background-color: $footer-color;
    margin-top: 315px;
    padding-bottom: 37px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    // border-radius: 4%;
   
}
.information , .resources , .help {
    display: grid;
    padding-left: 150px;
    padding-top: 20px;
    position: relative;
    
}
.info-heading:before {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    left: 150px;
    display: block;
    margin-bottom: 155px;
    content: "";
    border-bottom: 3px solid $body-color;
  }
  .resource-heading:before {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    left: 150px;
    display: block;
    margin-bottom: 155px;
    content: "";
    border-bottom: 3px solid $body-color;
  }
.help-heading:before {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    left: 150px;
    display: block;
    margin-bottom: 155px;
    content: "";
    border-bottom: 3px solid $body-color;
  }
.copyright{
    padding-bottom: 5px;
    margin-top: 1px;
    padding-right: 180px;
    font-size: 12px;
    display: flex;
    justify-content: right;
    background-color: $footer-color;
    color: $text-color;
}

//hover effects
a:hover{
    color: $body-color;
    text-decoration: underline;
}

//responsive secton
@media only screen and (max-width : 700px) {
    a{
        text-decoration: none;
        color: $text-color;
        padding-top: 5px;
        
    }
    h1{
        font-size: 20px;
        color: $heading-color;
    }

    .footer-section{
        background-color: $footer-color;
        margin-top: 315px; 
       display: grid; 
       grid-template-columns: 100%;
       padding-left: 100px;

       
    }
    .information , .resources , .help {
        padding: 0;
        position: relative;
        margin-top: 5px;
        text-align: center;
        padding-right: 90px;
    }
    .copyright{
       font-size: 10px;
        background-color: $footer-color;
        color: $text-color;
        padding-right: 90px;
        padding-top: 10px;
    }
    
    
}
@media only screen and (max-width : 804px){
    .info-heading:before {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 30px;
        left: 150px;
        display: block;
        margin-bottom: 155px;
        content: "";
        border-bottom: 0px solid $body-color;
      }
      .resource-heading:before {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 30px;
        left: 25px;
        display: block;
        margin-bottom: 100px;
        content: "";
        border-bottom: 0px solid $body-color;
      }
    .help-heading:before {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 30px;
        left: 60px;
        display: block;
        margin-bottom:100px;
        content: "";
        border-bottom: 0px solid $body-color;
      }
}

